
:root{
    --md-dark-color:rgb(53, 50, 50);
    --dark-color:rgb(36, 34, 34);
    --light-dark-color:rgb(83, 81, 81);
    --yellow-color:rgb(226, 165, 9);
    

}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}

.wrapper{
    min-height: 100vh;
    background-color: var(--dark-color);
}
.wrapper .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
}

.search-container{
    background-color: var(--md-dark-color);
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    padding: 1rem 0;
    border-bottom: 1px solid var(--light-dark-color);
    
    
}
.logo p{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.logo p span{
    color: var(--yellow-color);
}
.home{
    font-size: 2rem;
    color: white;
    font-weight: bold;
}
.favorite{
    font-size: 2rem;
    color: var(--yellow-color);
    font-weight: bold;
}
.search-element{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.search-element h3{
    align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: white;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.search-element .form-control{
    padding:1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
}

.search-list{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
    
}
.search-list .search-list-item{
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(350px - 8px);
    color: white;
    cursor:pointer;
    transition: background-color 200ms ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#star {
    color: var(--yellow-color);
    font-size: 3rem;
    cursor: pointer; /* Add cursor pointer for better UX */
}

#star > div {
    display: inline-block; /* Align the asterisk horizontally */
}
.search-list .search-list-item:hover{
    background-color: #1f1f1f;
}
.search-list-item{
    display: flex;
    align-items: center;
}
.search-item-thumbnail img{
    width: 60px;
    height: 50px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}

.search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    outline:none;
    border-radius: 10px;
}

.hide-search-list{
    display:none;
}

#star{
    color:var(--yellow-color);
    font-size: 1rem;
    display: flex;
    align-items: end;
    justify-content: end;
}

.result-container{
    padding: 3rem 0;
}

.movie-poster img{
    max-width: 400px;
    margin: 0 auto;
    border: 4px solid white;
}

.movie-info{
    text-align: center;
    color:white;
    padding-top: 3rem;
}
 .movie-title{
    font-size: 2rem;
    color: var(--yellow-color);

 }
 .movie-misc-info{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;;
 }
 .favorite-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
 }
.movie-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}
.movie-container .movie-poster img{
    max-width: 200px;
    margin: 0 auto;
    border: 4px solid white;
}


 @media(max-width: 450px){
    .logo p{
        font-size: 1.4rem;
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;

    }
    .search-element h3{
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        transform: translateX(50%);
    }
    .search-list .search-list-item{
        width: 100%;
    }
    .movie-misc-info{
        flex-direction: column;
        
    }

 }